@model IEnumerable<Category>
@{ 
    ViewBag.Tile = "Category List";
    int no = 1;
}

<div class="modal fade" id="AddCategoryModel" tabindex="-1"></div>

<div class="border border-1 rounded border-secondary bg-dark text-white p-1 m-1">
    <div class="row fs-5 fw-bold">
        <div class="col-sm-2 m-1">Sr.No</div>
        <div class="col-sm-4 m-1">Name</div>
    </div>

    @foreach (Category each in Model)
    {
        <div class="row border border-1 rounded m-1 align-content-center fs-6 word-wrap bg-dark">
            <div class="col-sm-2 align-text-top pt-1">@no</div>
            <div class="col-sm-4 pt-1">@each.Name</div>
            <div class="col-sm-3 pt-1">
                @Html.ActionLink("Products", "GetProducts", "Category", new { id = each.Id, },
                new { @class = "btn btn-outline-info m-1" })
                <a asp-action="Edit" asp-route-id="@each.Id"
                   class="btn btn-outline-info m-1">Edit</a>
                <a asp-action="Delete" asp-route-id="@each.Id"
                   class="btn btn-outline-danger m-1">Delete</a>
            </div>
            @{ 
                no = no + 1;
            }
        </div>
    }

</div>